In [32]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import os
import sys
sys.path.append(os.path.abspath(".."))
from src.analysis.utils import show_display_fuction

In [33]:
df = pd.read_pickle(r"C:\Users\elian\Work!\Covid-19_analysis\data\processed\cleaning_data_covid.pkl")
df.head()

,Country,Latitude,Longitude,Date,Positives,Deaths,Recovered,Active,Region
0,afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [34]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Latitude,49068.0,21.43373,-51.7963,7.873054,23.6345,41.20438,71.7069,24.95032
Longitude,49068.0,23.528236,-135.0,-15.3101,21.7453,80.771797,178.065,70.44274
Date,49068,2020-04-24 12:00:00,2020-01-22 00:00:00,2020-03-08 18:00:00,2020-04-24 12:00:00,2020-06-10 06:00:00,2020-07-27 00:00:00,NaN
Positives,49068.0,16884.904255,0.0,4.0,168.0,1518.25,4290259.0,127300.205272
Deaths,49068.0,884.17916,0.0,0.0,2.0,30.0,148011.0,6313.584411
Recovered,49068.0,7915.713479,0.0,0.0,29.0,666.0,1846641.0,54800.918731
Active,49068.0,8085.011617,-14.0,0.0,26.0,606.0,2816444.0,76258.903026

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    49068 non-null  object
 1   Latitude   49068 non-null  float64
 2   Longitude  49068 non-null  float64
 3   Date       49068 non-null  datetime64[ns]
 4   Positives  49068 non-null  int64
 5   Deaths     49068 non-null  int64
 6   Recovered  49068 non-null  int64
 7   Active     49068 non-null  int64
 8   Region     49068 non-null  category
dtypes: category(1), datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 3.0+ MB

In [46]:
country_uniques = df["Country"].unique()
print(country_uniques)

['afghanistan' 'albania' 'algeria' 'andorra' 'angola'
 'antigua and barbuda' 'argentina' 'armenia' 'australia' 'austria'
 'azerbaijan' 'bahamas' 'bahrain' 'bangladesh' 'barbados' 'belarus'
 'belgium' 'benin' 'bhutan' 'bolivia' 'bosnia and herzegovina' 'brazil'
 'brunei' 'bulgaria' 'burkina faso' 'cabo verde' 'cambodia' 'cameroon'
 'canada' 'central african republic' 'chad' 'chile' 'china' 'colombia'
 'congo (brazzaville)' 'congo (kinshasa)' 'costa rica' "cote d'ivoire"
 'croatia' 'cuba' 'cyprus' 'czechia' 'denmark' 'greenland' 'djibouti'
 'dominican republic' 'ecuador' 'egypt' 'el salvador' 'equatorial guinea'
 'eritrea' 'estonia' 'eswatini' 'ethiopia' 'fiji' 'finland' 'france'
 'gabon' 'gambia' 'georgia' 'germany' 'ghana' 'greece' 'guatemala'
 'guinea' 'guyana' 'haiti' 'holy see' 'honduras' 'hungary' 'iceland'
 'india' 'indonesia' 'iran' 'iraq' 'ireland' 'israel' 'italy' 'jamaica'
 'japan' 'jordan' 'kazakhstan' 'kenya' 'south korea' 'kuwait' 'kyrgyzstan'
 'latvia' 'lebanon' 'liberia' 'liechtenstein' 'lithuania' 'luxembourg'
 'madagascar' 'malaysia' 'maldives' 'malta' 'mauritania' 'mauritius'
 'mexico' 'moldova' 'monaco' 'mongolia' 'montenegro' 'morocco' 'namibia'
 'nepal' 'netherlands' 'new zealand' 'nicaragua' 'niger' 'nigeria'
 'north macedonia' 'norway' 'oman' 'pakistan' 'panama' 'papua new guinea'
 'paraguay' 'peru' 'philippines' 'poland' 'portugal' 'qatar' 'romania'
 'russia' 'rwanda' 'saint lucia' 'saint vincent and the grenadines'
 'san marino' 'saudi arabia' 'senegal' 'serbia' 'seychelles' 'singapore'
 'slovakia' 'slovenia' 'somalia' 'south africa' 'spain' 'sri lanka'
 'sudan' 'suriname' 'sweden' 'switzerland' 'taiwan*' 'tanzania' 'thailand'
 'togo' 'trinidad and tobago' 'tunisia' 'turkey' 'uganda' 'ukraine'
 'united arab emirates' 'united kingdom' 'uruguay' 'us' 'uzbekistan'
 'venezuela' 'vietnam' 'zambia' 'zimbabwe' 'dominica' 'grenada'
 'mozambique' 'syria' 'timor-leste' 'belize' 'laos' 'libya'
 'west bank and gaza' 'guinea-bissau' 'mali' 'saint kitts and nevis'
 'kosovo' 'burma' 'botswana' 'burundi' 'sierra leone' 'malawi'
 'south sudan' 'western sahara' 'sao tome and principe' 'yemen' 'comoros'
 'tajikistan' 'lesotho']